/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
    overflow: hidden;
    overflow-y: hidden; 
}

html{
    scroll-behavior: smooth;
}



/* 
UNIVERSAL Toggle Class
*/
.displayNone{
    display: none;
}

/**********************************************
*** HOME
**********************************************/

.home{
    height:100vh;
    width: 100%;
    border-bottom: 1px solid black;
    background: linear-gradient(to right, #ff4f49 0%, #ff4f49, 50% 50.05%, black 50.15%, #47b8b1 50.15%, #47B8B1 100%);
    background: linear-gradient(to right, #ff4f49 50.05%, black 50.10%,  #47b8b1 50.15%);
}
.home__container{
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 49.65% 49.65%;
       


}
.home__left{
    width:100%;
    border-bottom: 1px solid black;
}
.home__left:hover .home__left--pieTop{
    transform: translateX(15px) translateY(-10px);
}
.home__left--pie{
    position: absolute;
    left: 4%;
    top: 4%;
}
.home__left--pieTop{
    position: relative;
    transition: transform 0.3s;
    left: 50.5%;
    top: -1px;
}
.home__left--main-text{
    position: absolute;
    left: 120px;
    top: 305px;
    width: 612px;
    height: 259.69px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: default;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.home__left--sub-text{
    width: 571px;
    height: 153px;
    position: absolute;
    left: 145px;
    top: 560px;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    color: #000;
    text-shadow: 3px 4px 4px rgba(0,0,0, 0.3);
}
.home__left--calculate-btn{
     background: #74c5c0;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 50px;
     position: absolute;
     width: 303px;
     height: 82.72px;
     left: 280px;
     top: 715px;
     cursor: pointer; 
    /* Text for button */
     font-family: Open Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 32px;
     line-height: 32px;
     text-align: center;
     text-transform: uppercase;
     color: #000000;
     outline:none;
     text-transform: uppercase;
     text-decoration: none;
     padding: 1.5rem 4rem;
     transition: all .2s;
     -webkit-animation: moveInBottom .5s ease-out .75s;
     animation: moveInBottom .5s ease-out .75s;
     -webkit-animation-fill-mode: backwards;
     animation-fill-mode: backwards;
}
.home__left--calculate-btn:active{
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); 
    transform: scale(-2px);
    border:none;
   
}
.home__left--calculate-btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    outline:none;
}
@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}



.home__right{
    width:100%;
    border-bottom: 1px solid black;
}
.home__title{
    background: linear-gradient(to bottom, rgba(235, 86, 85, .5) 0%, rgba(235, 86, 85, .5) 50%, #3D93D7 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    height: 90px;
    width: 178px;
    right: 60px;
    top: 25px;
    font-size: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.home__savings-svg{
    width: 519px;
    height: 401.41px;
}

.budget-container{
    height: 100vh;
}
.debt-container{
    height: 100vh;
}





/*
END OF HOME 
*/



.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(test.png);
    background-size: cover;
    background-position: center;
    position: relative;
 
    
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
    color: #54dad6;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #54dad6;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/


/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
    border-radius: 50%;
}

.add__description,
.add__value, 
.add__title,
.total__due,
.due__date{
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}
.add__description-debt{
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    width:400px;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #54dad6;
    
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus{
    outline: none;
    border: 1px solid #54dad6;
   
}
.add__type:hover,
.add__description:hover,
.add__value:hover,
.add__btn i:hover{
    cursor: pointer;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #54dad6; text-align: center;}
.expenses__title { color: #FF5049; text-align: center;}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #54dad6;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}
.item__delete--btn i {
    cursor:pointer;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }





/* 
    NAV BAR
*/
.startingPos{
    left: -140px !important;
}
.nav_debt-i{
   color: #FF5049;
}

.nav_budget-i{
    color: black;
}
.nav_icon{
    position: absolute;
    left: 73.5%;
    top: 30%;
    transform: scale(2);
    display: block;
}
.nav a{
    position: fixed;
    left: -80px;   
    width: 130px;
    padding: 20px;
    transition: 0.3s ease;
    text-decoration: none;
    border: 1px solid #54dad6;
    font-size: 18px;
    color:#000;
    border-radius: 0 5px 5px 0;
    z-index: 3;
}
.nav-active{
    border-right: 1px solid black !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
.nav a:hover{
    left: 0;
    cursor:pointer;
}

#nav_home{
    
    top: 55%;
    background-color: #54dad6;
}
#nav_debt{
    top: 65%;
    background-color: #54dad6;
}
#nav_budget{
    top: 75%;
    background-color: #54dad6;
}





/* 
    Debt Page
*/


/* Top */
.debt__top{
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.debt__top--container{
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.debt__title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}
.debt__value{
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
    color: #FF5049;
}
.debt__cards{
   display: inline;
}
.debt__top--left,
.debt__top--right{
    position: absolute;
    padding: 12px;
    margin-top: -3px;
    width: 100%;
    background-color: #FF5049;
    height: 90px;
}
.debt__top--left{
    right: 11vw;
}
.debt__top--right{
    left: 11vw;
}
.debt__left__monthly__payment,
.debt__months__free{
    text-align: center;
}
.debt__months__free__disclaimer{
    font-size: 10px;
    position: absolute;
    /* right: 50%; */
    top: 80%;
    left: 0;
    width:100%;
}
.debt__top--right__start{
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.debt__monthly--total{
    position: absolute;
    color: black;
    font-size: 1.25rem;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.debt__left--title{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.debt__monthly--end{
    position: absolute;
    top:75%;
    left:0;
    width:100%;
}

.debt__right--months{
    color: black;
    top: 1px;
    position: relative;
}

.due__date--label{
    position:absolute;
    top: 40.5%;
    left: 64.5%;
}
.due__date::before{ 
    content: "Due Date: ";
    position: relative;
    top:-.185px;
    color:black;
}
#dueDate{
    width:16%;
}

.add__title:focus,
.add__description-debt:focus,
.total__due:focus,
.due__date:focus {
    outline: none;
    border: 1px solid #FF5049;
    
}
.add__title:hover,
.add__description-debt:hover,
.total__due:hover,
.due__date:hover,
.debt__btn i:hover{
    cursor: pointer;
}

.debt__btn{
    font-size: 35px;
    background: none;
    border: none;
    color: #FF5049;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    outline:none;
}
.debt__btn:active { outline: none; transform: translateY(2px); }
/* Bottom Debt */
.debt__bottom-title{
    font-style: normal;
    text-align:center;
font-weight: normal;
font-size: 26px;
line-height: 30px;
color: #FF5049;
}
.item-debt {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item-debt:first-child { border-top: 1px solid #FF5049; }
.item-debt:nth-child(even) { background-color: #f7f7f7; }
.item__title{
    width: 25%;
    position: relative;
    bottom: -20px;
}

.middle{
    width: 33%;
    position: relative;
    left: 40%;
}

.debt-item__description{
    text-align: center;
    width: 300px;
    display: inline-block;
    position: relative;
    top: -30px;
    right: 55px;
    color: black;
}

.item__total{
    height: 10px;
    position: relative;
    top: 10px;
    left: 60px;
    color: #FF5049;
}
.debt__item-right{
    float: right;
}
.item__dueDate{
    display: inline-block;
    transition: transform 0.3s;
}
.item__value-debt{
    position: relative;
    color: #FF5049;
    /* left: 72px; */
    left: 102px;
    top: -45px;
    transition: transform 0.3s;
    float: left;

}
.item__delete-debt{
    position: relative;
    bottom: 27px;
    left: 121px;
}
.item__delete--btn-debt{
    color: #FF5049 !important;
}
.item-debt:hover .item__delete--btn { display: block; }
.item-debt:hover .item__dueDate { transform: translateX(-22px); }
.item-debt:hover .item__value-debt { transform: translateX(-22px); }


/* 

MEDIA QUERIES

 */
/* setting the imgs on .home to none when the px is less than 1000 */
@media (max-width: 1000px){
    body{
        position:fixed;
    }
    .home__main, .debt-container, .budget-container{
        margin-right: -30px;
        overflow: hidden;
        overflow-y:hidden;
    }
    .home__title{
        right:0;
        left: 210px;
        font-size: 30px;
        line-height: 27px;
        top:0;
    }
    .home__savings-svg, .home__left--pie{
        display:none;
    }
}
/* 2436x1125px at 458ppi */
/* Iphone X, XR and iPhone 11Pro */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 
    .home{
        background: #47b8b1;
    }
    .home__left--main-text {
        position: absolute;
        top: 135px;
        width: 250px;
        left: 65px;
        font-size: 38px;
        line-height: 38px;
        text-align: center;
    }
    .home__left--calculate-btn{
    background: #FF5049;
    position: relative;
    left: 60px;
    
    top: 500px;
    font-size: 25px;
    }
    .home__left--sub-text{
        width: 300px;
        position: relative;
        left: 7.5%;
        top: 394px;
        height: 75px;
        font-family: Open Sans;
        font-weight: 300;
        font-size: 24px;
        text-transform: none;
        line-height: 32px;
    }
}
/* 2688x1242px at 458ppi */
/* I phone 11 Pro MAX, iPhone Xs Max */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
        .home{
            background: #47b8b1;
        }
        .home__left--main-text {
            position: absolute;
            top: 135px;
            width: 250px;
            left: 65px;
            font-size: 38px;
            line-height: 38px;
            text-align: center;
        }
        .home__left--calculate-btn{
        background: #FF5049;
        position: relative;
        left: 60px;
        
        top: 500px;
        font-size: 25px;
        }
        .home__left--sub-text{
            width: 300px;
            position: relative;
            left: 7.5%;
            top: 394px;
            height: 75px;
            font-family: Open Sans;
            font-weight: 300;
            font-size: 24px;
            text-transform: none;
            line-height: 32px;
        }
    }

/* 1792x828px at 326ppi */
/* Iphone 11 iphone XR  */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
        .home{
            background: #47b8b1;
        }
        .home__left--main-text {
            position: absolute;
            top: 135px;
            width: 250px;
            left: 65px;
            font-size: 38px;
            line-height: 38px;
            text-align: center;
        }
        .home__left--calculate-btn{
        background: #FF5049;
        position: relative;
        left: 60px;
        
        top: 500px;
        font-size: 25px;
        }
        .home__left--sub-text{
            width: 300px;
            position: relative;
            left: 7.5%;
            top: 394px;
            height: 75px;
            font-family: Open Sans;
            font-weight: 300;
            font-size: 24px;
            text-transform: none;
            line-height: 32px;
        }
     }

@media(max-width: 414px){
    .home{
        background: #47b8b1;
    }
    .home__left--main-text {
        position: absolute;
        top: 135px;
        width: 250px;
        left: 65px;
        font-size: 38px;
        line-height: 38px;
        text-align: center;
    }
    .home__left--calculate-btn{
    background: #FF5049;
    position: relative;
    left: 60px;
    
    top: 500px;
    font-size: 25px;
    }
    .home__left--sub-text{
        width: 300px;
        position: relative;
        left: 7.5%;
        top: 394px;
        height: 75px;
        font-family: Open Sans;
        font-weight: 300;
        font-size: 24px;
        text-transform: none;
        line-height: 32px;
    }
}